.header h4{
    font-size: 40px;
    color: rgb(175, 121, 54);
    text-align: center;
}
.header h4:hover{
    color: black;
}
@media screen and (min-width:320px) and (max-width:768px) {
    .header h4{
        text-align: center;
        font-size: 50px;
    }
    
}